{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  <!-- {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %} -->

{% endblock %}

{% block content %}
<section id="content" class="body">
    <header>
    <h1>
      {{ article.title }}
    </h1>
    <ol class="breadcrumb">
        <li>
            <time class="published" datetime="{{ article.date.isoformat() }}">
                {{ article.date.strftime("%d %B %Y") }}
            </time>
        </li>
        <li>{{ article.category }}</li>
        <!-- {% for tag in article.tags %}
        <li>{{tag}}</li>
        {% endfor %} -->
    </ol>
    {% if article.category != "SQL" %}
    <a href="https://mybinder.org/v2/gh/LewisDavies/datanot.es/master?filepath=/content/{{ article.slug }}.ipynb" target="_blank">
        <img src="https://mybinder.org/badge_logo.svg">
    </a>
    {% endif %}
    </header>
<div class='article_content'>
{{ article.content }}
</div>
</section>

{% endblock %}
