<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />

</head>

<body>
  {% block navbar %}
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    {% for cat in categories %}
    <li><a href="{{ SITEURL }}#{{ cat[0]|replace(" ", "-") }}">{{ cat[0]|e }}</a></li>
    {% endfor %}
  </ul>

  <nav class="teal lighten-1" role="navigation navbar-fixed">
    <div class="nav-wrapper container">

      <a href="{{ SITEURL }}" class="brand-logo">LewisDavi.es</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% for cat in categories %}
        <li><a href="{{ SITEURL }}#{{ cat[0]|replace(" ", "-") }}">{{ cat[0]|e }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </nav>
  {% endblock %}

  <div class="container">
    <br>
    <div class="row">
      <div class="col m12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.js"></script>
  <script src="{{ SITEURL }}/theme/js/init.js"></script>

</body>
</html
