{% extends "base.html" %}

{% block content %}
<h1>The Data Science Survival Guide</h1>
<p>Learn data science is tough: there's a lot to take in and I only have so much juice in my mind grapes. Although it's a little sparse right now, this site will be my personal notebook for useful data wrangling, plotting, and (eventually) machine learning snippets.</p>
<p>This site is inspired by (i.e. completely stolen from) <a href="http://chrisalbon.com" target="_blank">ChrisAlbon.com</a>, which has been a huge help as I've learned to analyse data with Python. This site is also open source and on Github, so feel free to use my far inferior code!</p>

<hr>

{% for cat in categories %}
<h2 id="{{ cat[0].name|replace(" ", "-") }}">{{ cat[0].name }}</h2>
<ul>
  {% for article in cat[1] %}
  <a href="{{ article.url }}"><li>{{ article.title|e }}</li></a>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
