{% extends "base.html" %}

{% block content %}

<h1>The Data Analysis Survival Guide</h1>
<p>This site is my personal notebook on accessing, wrangling and analysing data, with reusable code snippets available as a reference. It was inspired by <a href="http://chrisalbon.com" target="_blank">ChrisAlbon.com</a>, which has been a huge help as I've learned to analyse data.</p>
<p>Fancy making your own version? Everything is open source and available on <a href="https://github.com/LewisDavies/lewisdavi.es" target="_blank">Github</a>.</p>
<hr>
<br>

{% for cat in categories %}
<div class="card">

  <h3 class="card-header" id="{{ cat[0].name|replace(" ", "-") }}">{{ cat[0].name }}</h3>

  <div class="card-body">

    <ul>
    {% for article in cat[1]|sort(attribute='date') %}
      <a href="{{ article.url }}"><li>{{ article.title|e }}</li></a>
    {% endfor %}
    </ul>

  </div>
</div>

<br>
{% endfor %}

{% endblock %}
