{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">The Data Analysis Survival Guide</h1>
</div>

<div class="homepage-blurb row">
    <div class="col-sm-12">
        <p>This site is my personal notebook on accessing, wrangling and analysing data, with reusable code snippets available as a reference. It was inspired by (i.e. stolen from) <a href="http://chrisalbon.com" target="_blank">ChrisAlbon.com</a>, which has been a huge help with everything data-related.</p>
    </div>
</div>

{% for cat in categories %}
<div class="row" id="{{ cat[0].name|replace(" ", "-") }}">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">{{ cat[0].name }}</h2>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <!-- <div class="panel-heading">
        <h3 class="panel-title">Basics</h3>
      </div> -->
      <div class="panel-body">
        <ul class="left-list">
          {% for article in cat[1]|sort(attribute='date') %}
            {% if loop.index is not divisibleby 2 %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|e }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="right-list">
          {% for article in cat[1]|sort(attribute='date') %}
            {% if loop.index is divisibleby 2 %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|e }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
