h1 {
  font-size: 36px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 26px !important;
}

h3 {
  font-size: 22px !important;
}

th {
  text-align: left !important;
}
